<!DOCTYPE html>
<html lang="fr">
<head>
    <script>
        window.onunload = function(){};
        if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
            location.reload();
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="73978724420-oup5ni5f6l2qt88bntrg4qvlugve1k91.apps.googleusercontent.com">
    <title>Login Nice Matin</title>
    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
</head>

<!-- Bootstrap -->
<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- Animate.css -->
<link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
<!-- google button.css -->
<link href="../vendors/googleButton.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="../build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="/" method="post">
                <h1><img src="images/nicematin.png" width="150px"></h1>
                <div class="row">
                    Vous avez été déconnecté<br>
                    <a href="/login">Se reconnecter</a>
                </div>
                <br /><br /><br /><br /><br /><br /><br /><br />
                <div>
                    <br />
                    <img src="images/nicematin.png" width="100px"></img>
                    <br />
                    <p>©2020 All Rights Reserved. Nice matin. Privacy and Terms</p>
                </div>
            </form>
        </section>
    </div>
</div>
</body>
</html>