<html lang="en">

<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/nm2.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/vendor/bootstrap/css/bootstrap.min.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/vendor/animate/animate.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/vendor/css-hamburgers/hamburgers.min.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/vendor/animsition/css/animsition.min.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/vendor/select2/select2.min.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/vendor/daterangepicker/daterangepicker.css">
	<!--=============================================/loginStyle/==================================================-->
	<link rel="stylesheet" type="text/css" href="/loginStyle/css/util.css">
	<link rel="stylesheet" type="text/css" href="/loginStyle/css/main.css">
    <!--===============================================================================================-->
    

</head>

<style>
	
    a{
		border: 1px solid black;
		padding: 10px;
		border-radius: 10px;
	}

	a:hover {
		color: #0080ff;
		padding: 9px;
		border: 2px solid #0080ff;
	}

	a:focus {
		color: #4aa5ff;
		padding: 9px;
		border: 2px solid #4aa5ff;
	}



	p {
		color: black;
	}

	h1 {
		color: white;
		text-align: center;
	}

	.vl {
  border-left: 1px solid white;
  height: 300px;
  margin-right: 100px;
}
@media only screen and (max-width: 1034px) { 
            .vl { 
                display: none; 
            } 
        } 

@media only screen and (min-width: 1034px) { 
    #suivi { 
        margin-right: 100px;
        } 
    } 

</style>

<body>

	<div class="limiter">
        <div class="container-login100" style="background-image: url('/images/fondBis.jpg');">
            
            <span class="login100-form-title p-b-0" id="suivi"style="font-size: 40px;">
				Suivi de Production
            </span>
            
			<div class="vl"></div>
			<div class=" p-t-120 p-b-50">

				<form class="login100-form p-b-33 p-t-5">


					<div class="container-login100-form-btn m-t-32">
						<img src="images/Capture.png" width="250px">
					</div>
					<div class="container-login100-form-btn m-t-32">
					</div>
					<div class="container-login100-form-btn m-t-32">
					</div>
					<div class="container-login100-form-btn m-t-32">
						<a href="<%= loginLink %>" class="clouds-flat-button"
							style="text-decoration: none; font-size: 17px;"> <img width="40px"
								src="/images/google logo.png"> Connexion avec Google</a>
					</div>
					<div class="container-login100-form-btn m-t-32">
					</div>
					<div class="container-login100-form-btn m-t-32">
					</div>
					<div class="container-login100-form-btn m-t-32">
						
					</div>

				</form>
				<br>
				<span class="login100-form-title p-b-41" style="font-size: 40px;">
                    <p style="color: white; padding: 0px 40px;" >©2020 All Rights Reserved. Nice matin.               </p>
                    
                </span>
			</div>
			
		</div>

	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="/loginStyle/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--=============/loginStyle/==================================================================================-->
	<script src="/loginStyle/vendor/animsition/js/animsition.min.js"></script>
	<!--=============/loginStyle/==================================================================================-->
	<script src="/loginStyle/vendor/bootstrap/js/popper.js"></script>
	<script src="/loginStyle/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--=============/loginStyle/==================================================================================-->
	<script src="/loginStyle/vendor/select2/select2.min.js"></script>
	<!--=============/loginStyle/==================================================================================-->
	<script src="/loginStyle/vendor/daterangepicker/moment.min.js"></script>
	<script src="/loginStyle/vendor/daterangepicker/daterangepicker.js"></script>
	<!--=============/loginStyle/==================================================================================-->
	<script src="/loginStyle/vendor/countdowntime/countdowntime.js"></script>
	<!--=============/loginStyle/==================================================================================-->
    <script src="/loginStyle/js/main.js"></script>
    </body>