<%- include('../conf/conf') %>

<div class="profile">
    <div class="profile_pic">

        <img src="<%= infoUser.info.photo%>" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bienvenue,</span><h2><%= infoUser.info.prenom%> <%= infoUser.info.nom%></h2>
        <br />
        <br />
        <br />
    </div>
</div>