

        
        <div class="col-md-6 col-sm-6 " id="blocTournee" style="display:none">
            <div class="x_panel">
                <div class="x_title">
                    <h2 id="titreTournee"> Tournées </script></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
    
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                <div id="blocForm">
                    <div class="col-md-6 col-sm-6 ">
                        <table  class=" table  table-bordered bulk_action edition" id="tabEdition">
                      <thead>
                          <th>Selc.</th>
                          <th>Tout Selec.</th>
                          <th>Secteur</th>
                      </thead>
                      <tbody id="tableListeTournees"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                    <form class="form-horizontal form-label-left" id="formulaireTournee" action="/tournees/saisie/req" method="PUT"  name="formPublihome">
                    
                    <div class="col-md-12 col-sm-12 " id="listeTournees">
                        
                        <!--<table id="tableListeTourneesDesEditions">
                      
                        </table>-->
                    </div>
                </div>
            </div>
                        <div class="form-group">
                           
                                <button type="submit" class="btn btn-default modifierTournee"  >Sauvegarder tournées</button>
                               
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>
    



