<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" margin-top="100px">
    <div class="menu_section">
        <h3>Général</h3>
        <ul class="nav side-menu">
         
            <li><a><i class="fa fa-newspaper-o"></i>Pressbook<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <% if (infoUser.service === "Achat" || infoUser.service === "Admin") {%>
                    <li><a href="/pressbook/saisie">Saisie</a></li>
                    <% } %>
                    <li><a href="/pressbook/liste">Liste</a></li>
                </ul>
            </li>
 
            <li><a><i class="fa fa-truck"></i>Publihome<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <% if (infoUser.service === "Communication" || infoUser.service === "Achat" || infoUser.service === "Admin") {%>
                    <li><a href="/publihome/saisie">Saisie</a></li>
                    <% } %>
                   
                    <li><a href="/publihome/liste">Liste</a></li>
                   
                </ul>
            </li>
      


        </ul>
    </div>

    <div class="menu_section">
        <h3>Fichier Concordance</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-sticky-note-o"></i>Zone <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/concordance/am">AM</a></li>
                    <li><a href="/concordance/var">VAR</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <% if ( infoUser.service === "Admin") {%>
    <div class="menu_section">
        <h3>Paramétrage</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-gears"></i>Configuration <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/configuration/tournees">Tournée</a></li>
                    <li><a href="/configuration/email">Email</a></li>
                    <li><a href="/configuration/elements">Elements</a></li>
                </ul>
            </li>
        </ul>
    </div>
<% } %>
<% if ( infoUser.service === "Transport") {%>
    <div class="menu_section">
        <h3>Paramétrage</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-gears"></i>Configuration <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/configuration/tournees">Tournée</a></li>
                </ul>
            </li>
        </ul>
    </div>
<% } %>
</div>
<!-- /sidebar menu -->
<div class="sidebar-footer hidden-small">
    <a href="/deconnexion" data-toggle="tooltip" data-placement="top" title="Déconnexion">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>