<style>
    .liste-equipement {
        padding: 5px 10px;
        list-style-type: none;
        text-align: left;
    }

    .case-equipement {
        text-align: left;
    }
</style>



<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Suppléments publicitaire </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table  class="table table-striped table-bordered bulk_action"
                            style="width:100%">
                            <thead style="white-space : nowrap">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle">N°</th>
                                    <th style="text-align: center; vertical-align: middle">Horodateur</th>
                                    <th style="text-align: center; vertical-align: middle">Thème</th>
                                    <th style="text-align: center; vertical-align: middle">Suppl</th>
                                    <th>Parution</th>
                                    <th style="text-align: center; vertical-align: middle">Date prod prevu</th>
                                    <th style="text-align: center; vertical-align: middle">Date portage</th>
                                    <th>Edition</th>
                                    <th style="text-align: center; vertical-align: middle">Produit</th>
                                    <th style="text-align: center; vertical-align: middle">Fabr.</th>
                                    <th style="text-align: center; vertical-align: middle">Papier</th>
                                    <th style="text-align: center; vertical-align: middle">Pagination</th>
                                    <th style="text-align: center; vertical-align: middle">Nb. Quadri</th>
                                    <th style="text-align: center; vertical-align: middle">TAP</th>
                                    <th style="text-align: center; vertical-align: middle">Journaux</th>
                                    <th style="text-align: center; vertical-align: middle">Tirage min.</th>
                                    <th style="text-align: center; vertical-align: middle">Origine</th>
                                    <th style="text-align: center; vertical-align: middle">Source</th>
                                    <th style="text-align: center; vertical-align: middle" >Observation</th>
                                    <th style="text-align: center; vertical-align: middle">Option/Reser</th>
                                    <th>Dossier</th>
                                </tr>
                            </thead>
                            <tbody id="tablePressbook">
    
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

