<style>
    .liste-equipement {
        padding: 5px 10px;
        list-style-type: none;
        text-align: left;
    }

    .case-equipement {
        text-align: left;
    }


    .table-bordered>tbody>tr>td {
        vertical-align: middle;
        text-align: center
    }

    .table-bordered>tbody>tr>td>.description {
        text-align: left;
        min-width: 500px;
    }
</style>



<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Publihome </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">

                        <table id="listePublihome"
                           cellspacing="0"
                            width="100%">
                            <thead style="white-space : nowrap">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle">N°</th>
                                    <th style="text-align: center; vertical-align: middle">Horodateur</th>
                                    <th style="text-align: center; vertical-align: middle">Titre</th>
                                    <th style="text-align: center; vertical-align: middle">Type</th>
                                    <th style="text-align: center; vertical-align: middle">Quantité totale</th>
                                    <th style="text-align: center; vertical-align: middle">Date portage</th>
                                    <th style="text-align: center; vertical-align: middle">Poids (gr)</th>
                                    <th style="text-align: center; vertical-align: middle">Nombre pages</th>
                                    <th style="text-align: center; vertical-align: middle">Conditionnement</th>
                                    <th style="text-align: center; vertical-align: middle">Commentaire</th>
                                    <th style="text-align: center; vertical-align: middle">Tournées</th>
                                    <th style="text-align: center; vertical-align: middle">Etat</th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
